<!-- Our services-->
<section class="section-60 section-md-top-80 section-md-bottom-85">
    <div class="shell">
        <h3 class="text-center">Our services</h3>
        <div class="range range-xs-center text-center offset-top-30">
            <div class="cell-xs-8 cell-sm-6 cell-md-3">
                <a href="general-and-preventative-care.html" class="thumbnail-custom"><img src="images/services-04-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="general-and-preventative-care.htm">General and preventive care</a></h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-sm-top-0">
                <a href="cosmetic-solution.html" class="thumbnail-custom"><img src="images/services-5-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="cosmetic-solution.html">Cosmetic solutions</a></h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <a href="restorative-solution.html" class="thumbnail-custom"><img src="images/services-6-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="restorative-solution.html">Restorative solutions</a></h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <a href="additional-treatments.html" class="thumbnail-custom"><img src="images/services-7-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="additional-treatments.html">Additional treatments</a></h4>
            </div>
        </div>
        <div class="offset-top-40 text-center"><a href="services.html" class="btn btn-primary">See all Services</a></div>
    </div>
</section>