<!--Our Team-->
<section class="section-50 section-md-bottom-95">
    <div class="shell">
        <div class="range range-xs-center text-center">
            <div class="cell-sm-10 cell-md-12">
                <h3 class="text-center">Our Team</h3><img src="images/about-us-01-1170x550.jpg" width="1150" height="550" alt="" class="img-responsive">
                <div class="range offset-top-50">
                    <div class="cell-md-6">
                        <img src="images/about-us-02-550x550.jpg" width="550" height="550" alt="" class="img-responsive" />
                    </div>
                    <div class="cell-md-6 text-md-left">
                        <h4>Our dental clinic has been founded in 2010. The founder is an honorable alumni of NYC's Columbia medical school - Mark Hoffmann, MD.</h4>
                        <p>After 8 previous years of practicing, he and his colleagues collaborated to found their own clinic. Coming from backgrounds of miscellaneous dental institutions of the US, they complement each other. Their common clinic became known as BeDentist!</p>
                        <p>The state of Pennsylvania highly appreciates our contribution to state's dental healthcare. Just as our local patients in the upstate Potter county of Pennsylvania.</p>
                        <p>We combine extensive record of practical experience with an equal focus on customer service approach. In the last 6 years, our dental clinic grew a list of returning clients!</p>
                        <p class="text-bold text-italic">We look forward to you becoming one of them as well!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Medical Team-->
<section class="bg-alabaster section-60 section-md-top-80 section-md-bottom-90">
    <div class="shell">
        <h3 class="text-center">Medical Team</h3>
        <div class="range range-xs-center">
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column">
                <img src="images/elements-10-270x270.jpg" width="270" height="270" alt="" class="img-responsive" />
                <h4 class="text-light"><a href="team-member-01.html">Dr. Mark Hoffman</a></h4>
                <h6 class="text-gray-light">Dentist</h6>
                <p>Our clinic's Chief Medical Officer, Dr. Mark Hoffman has been working in this field of medical specialization since 2002. After founding his own clinic in 2010 he brought all his experience here. Most of all he loves to see you walk out with a bright wide smile!</p>
                <div class="offset-top-auto">
                    <ul class="list-inline list-inline-md">
                        <li><a href="#" class="icon icon-primary reveal-inline fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column offset-top-60 offset-sm-top-0">
                <img src="images/elements-11-270x270.jpg" width="270" height="270" alt="" class="img-responsive" />
                <h4 class="text-light"><a href="team-member-02.html">Leslie Gross</a></h4>
                <h6 class="text-gray-light">Dental Hygienist</h6>
                <p>Leslie is one of the most experienced dental hygienists in the county. She works at our dental clinic since day 1. No one contributed more to our customer's satisfaction and concerns resolving than she.</p>
                <div class="offset-top-auto">
                    <ul class="list-inline list-inline-md">
                        <li><a href="#" class="icon icon-primary reveal-inline fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column offset-top-60 offset-md-top-0">
                <img src="images/elements-14-270x270.jpg" width="270" height="270" alt="" class="img-responsive" />
                <h4 class="text-light"><a href="team-member-03.html">Dana Sims</a></h4>
                <h6 class="text-gray-light">Practical Nurse</h6>
                <p>Dana previously served as a senior practical nurse at the Mayo clinic. She obtained her license by working hard after graduating from a medical college with cum laude honors. She truly represents all the care that our dental office is surrounded with and our patients feel that every time.</p>
                <div class="offset-top-auto">
                    <ul class="list-inline list-inline-md">
                        <li><a href="#" class="icon icon-primary reveal-inline fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 reveal-md-flex flex-direction-column offset-top-60 offset-md-top-0">
                <img src="images/elements-15-270x270.jpg" width="270" height="270" alt="" class="img-responsive" />
                <h4 class="text-light"><a href="team-member-04.html">Kimberly Barker</a></h4>
                <h6 class="text-gray-light">Patient Services Manager</h6>
                <p>Kimberly worked for numerous dental offices in the US and Canada during her 20 years long career. And while she will not drill your teeth personally, she will make sure that everything is running smoothly before, during and after your appointment!</p>
                <div class="offset-top-auto">
                    <ul class="list-inline list-inline-md">
                        <li><a href="#" class="icon icon-primary reveal-inline fa-facebook"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-twitter"></a></li>
                        <li><a href="#" class="icon icon-primary reveal-inline fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>