<section data-height="" data-min-height="270px" data-autoplay="5000" data-dots="true" class="swiper-container swiper-slider swiper-slider-home">
    <div class="swiper-wrapper">
        <div data-slide-bg="images/slider-01.jpg" class="swiper-slide">
            <div class="swiper-slide-caption">
                <div class="shell">
                    <h1 class="text-primary"><span class="text-light">Dr.</span>Mark Hoffman</h1>
                    <h4 class="text-gray-light veil reveal-sm-block text-regular">Dr. Mark Hoffman's dental clinic welcomes you!</h4><a href="book.html" class="btn btn-primary">Book an Appointment</a>
                </div>
            </div>
        </div>
        <div data-slide-bg="images/slider-02.jpg" class="swiper-slide">
            <div class="swiper-slide-caption">
                <div class="shell">
                    <div class="range range-xs-center range-md-left offset-top-0">
                        <div class="cell-sm-8 cell-md-6">
                            <h4 class="text-white text-bold">We’re always available for customers<span class="veil reveal-sm-inline"> with emergent dental problems.</span></h4>
                            <p class="text-white veil reveal-sm-block">You can easily reach us 24/7 via the phone number below:</p>
                            <div class="unit unit-xl-horizontal unit-lg-horizontal unit-md-horizontal unit-sm-horizontal unit-xs-vertical unit-spacing-sm offset-top-20 offset-sm-top-40">
                                <div class="unit-left">
                                    <div class="icon fa-phone icon-circle icon-lg text-middle text-white veil reveal-sm-inline-block"></div>
                                </div>
                                <div class="unit-body"><a href="callto:#" class="h1 text-white text-bold">555–123–2323</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-slide-bg="images/slider-03.jpg" class="swiper-slide">
            <div class="swiper-slide-caption text-center">
                <div class="shell">
                    <div class="range range-xs-center offset-top-0">
                        <div class="cell-sm-8 cell-md-12">
                            <h1 class="text-white">Appointments</h1>
                            <h3 class="small text-bold text-white veil reveal-sm-block">Booking an appointment at our dental clinic is as easy as it gets...</h3>
                            <div class="range range-md-center offset-top-10 veil reveal-sm-flex">
                                <div class="cell-md-10">
                                    <p class="text-white veil reveal-md-block">You will be able to schedule a convenient time for your meeting with our dentists with just 2 clicks!</p>
                                </div>
                            </div><a href="book.html" class="btn btn-primary offset-top-20 offset-md-top-40">Book an Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
</section>
<!-- Welcome to BeDentist-->
<section class="section-85">
    <div class="shell">
        <div class="range">
            <div class="cell-md-6">
                <img src="images/home-01-550x550.jpg" width="550" height="550" alt="" class="img-responsive" />
            </div>
            <div class="cell-md-6">
                <h3>Welcome to BeDentist</h3>
                <h4>Dental clinic BeDentist welcomes you!</h4>
                <div class="offset-top-30">
                    <p>We’re glad you hand your dental health concerns to our skilled hands. We’ll make sure to deliver the best possible healthcare to all our patients! Of course, we always complement our main services with a customer service oriented approach.</p>
                    <p>We sincerely believe that visiting a dentist shouldn’t be a frightening or stressful experience! We provide an equally comfortable experience of relaxation for all our young and adult customers! Also we implement a lot of pain management and anesthesia options.<span class="text-bold text-italic">Everything we do is aimed at making you feel comfortable, while we take care of your oral healthcare!</span></p>
                    <p>It includes both local anesthesia for mouth-numbing as well as a sedative anesthesia. Altogether, this helps relief any pain which might occur in the process of treatment. All in all, we’ve got it all under control at our BeDentist dental health clinic.</p>
                    <p>We invite you to explore the information about our dental office on our website! Feel free to read our terms and conditions and all the additional info we have posted here.</p>
                    <p>Once our customer, you will be leaving our dental clinic with a bright, wide smile!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why choose the BeDentist clinic?-->
<section class="bg-primary section-60 section-md-top-70 section-md-bottom-60">
    <div class="shell text-center">
        <h3 class="text-center text-white">Why choose the BeDentist clinic?</h3>
        <div class="range range-xs-center offset-top-40">
            <div class="cell-sm-6 cell-md-3">
                <div class="icon fa-book icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">Easy booking</h4>
                <p>Booking an appointment at our dental clinic is as easy as doing 2 clicks!</p>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-60 offset-sm-top-0">
                <div class="icon fa-group icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">Experience</h4>
                <p>Combined, our 5 dentists have over half a century of practical experience. They are ready to put it to action for you!</p>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <div class="icon fa-clock-o icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">Flexible schedule</h4>
                <p>We work during all state holidays, besides working till late during the regular days. In case of emergencies we accept weekend bookings.</p>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <div class="icon fa-thumbs-up icon-circle icon-xl text-middle text-white"></div>
                <h4 class="text-white">Best price guarantee</h4>
                <p>Our reasonable prices made thousands of people smile with a new, beautiful smile, as never before!!</p>
            </div>
        </div>
    </div>
</section>
<!-- Our services-->
<section class="section-60 section-md-top-80 section-md-bottom-85">
    <div class="shell">
        <h3 class="text-center">Our services</h3>
        <div class="range range-xs-center text-center offset-top-30">
            <div class="cell-xs-8 cell-sm-6 cell-md-3">
                <a href="general-and-preventative-care.html" class="thumbnail-custom"><img src="images/services-04-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="general-and-preventative-care.htm">General and preventive care</a></h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-sm-top-0">
                <a href="cosmetic-solution.html" class="thumbnail-custom"><img src="images/services-5-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="cosmetic-solution.html">Cosmetic solutions</a></h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <a href="restorative-solution.html" class="thumbnail-custom"><img src="images/services-6-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="restorative-solution.html">Restorative solutions</a></h4>
            </div>
            <div class="cell-xs-8 cell-sm-6 cell-md-3 offset-top-60 offset-md-top-0">
                <a href="additional-treatments.html" class="thumbnail-custom"><img src="images/services-7-270x270.jpg" width="270" height="270" alt="" class="img-responsive" /></a>
                <h4><a href="additional-treatments.html">Additional treatments</a></h4>
            </div>
        </div>
        <div class="offset-top-40 text-center"><a href="services.html" class="btn btn-primary">See all Services</a></div>
    </div>
</section>
<!-- What our patients say-->
<section class="bg-alabaster section-60 section-md-top-80 section-md-bottom-90">
    <div class="shell">
        <h3 class="text-center">What our patients say</h3>
        <div class="range range-xs-center offset-top-35">
            <div class="cell-xs-8 cell-sm-4">
                <blockquote class="quote quote-variant-1">
                    <img src="images/testimonials-01-116x116.jpg" width="116" height="116" alt="" class="img-responsive img-circle">
                    <p>
                        <q>I urgently required dental help last 4th of July. And despite all other clinics being closed, BeDentist took my appointment!</q>
                    </p>
                    <div>
                        <cite class="text-extra-bold text-gray-light">Herbert Wallace</cite>
                        <time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>
                    </div>
                </blockquote>
            </div>
            <div class="cell-xs-8 cell-sm-4 offset-top-60 offset-sm-top-0">
                <blockquote class="quote quote-variant-1">
                    <img src="images/testimonials-02-116x116.jpg" width="116" height="116" alt="" class="img-responsive img-circle">
                    <p>
                        <q>Comparing teeth whitening prices here and elsewhere, I picked BeDentist. The result was beyond my expectations!</q>
                    </p>
                    <div>
                        <cite class="text-extra-bold text-gray-light">Gary Growles</cite>
                        <time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>
                    </div>
                </blockquote>
            </div>
            <div class="cell-xs-8 cell-sm-4 offset-top-60 offset-sm-top-0">
                <blockquote class="quote quote-variant-1">
                    <img src="images/testimonials-03-116x116.jpg" width="116" height="116" alt="" class="img-responsive img-circle">
                    <p>
                        <q>Taking my kids to a dentist has never been easier. They just loved the welcoming and warm atmosphere in there!</q>
                    </p>
                    <div>
                        <cite class="text-extra-bold text-gray-light">Daniela Robbery</cite>
                        <time datetime="2016-04-30" class="text-gray-lighter text-italic"> – May 10, 2016</time>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<!--How we can help...-->
<section class="bg-primary section-60 section-md-80">
    <div class="shell">
        <div class="range range-xs-center range-md-middle">
            <div class="cell-sm-10 cell-md-9">
                <h3 class="text-white">How we can help...</h3>
                <h5 class="text-white">We offer a wide range of procedures to help you get the perfect smile.</h5>
            </div>
            <div class="cell-sm-10 cell-md-3 text-md-right offset-top-25 offset-md-top-0"><a href="book.html" class="btn btn-primary">Book an Appointment</a></div>
        </div>
    </div>
</section>
<!-- Recent news-->
<section class="section-70 section-md-top-80 section-md-bottom-95">
    <div class="shell">
        <h3 class="text-center">Recent news</h3>
        <div class="range range-xs-center text-center offset-top-30 text-md-left">
            <div class="cell-md-4">
                <div class="post post-variant-1">
                    <div>
                        <div class="post-media-wrap">
                            <a href="post-default.html"><img src="images/home-02-370x370.jpg" width="370" height="370" alt="" class="img-responsive post-image" /></a>
                        </div>
                        <h4 class="text-bold"><a href="post-default.html" class="post-title">First signs of gum disease</a></h4>
                        <ul class="list-inline list-inline-dashed text-italic">
                            <li class="text-gray-lighter">
                                by <span class="text-bold text-gray-light">John Doe</span>
                            </li>
                            <li>
                                <time datetime="2016-04-30" class="post-meta-time text-gray-lighter">May 10, 2016</time>
                            </li>
                            <li><a href="categories-grid.html">Dental</a></li>
                        </ul>
                        <p>Gums disease is preceded by few very distinct symptoms. One of these is when you spit out blood after brushing your teeth...</p>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="post post-variant-1">
                    <div>
                        <div class="post-media-wrap">
                            <a href="post-default.html"><img src="images/home-03-370x370.jpg" width="370" height="370" alt="" class="img-responsive post-image" /></a>
                        </div>
                        <h4 class="text-bold"><a href="post-default.html" class="post-title">Basic dental care 101</a></h4>
                        <ul class="list-inline list-inline-dashed text-italic">
                            <li class="text-gray-lighter">
                                by <span class="text-bold text-gray-light">John Doe</span>
                            </li>
                            <li>
                                <time datetime="2016-04-30" class="post-meta-time text-gray-lighter">May 10, 2016</time>
                            </li>
                            <li><a href="categories-grid.html">Dental</a></li>
                        </ul>
                        <p>Americans oftentimes ignore some basic, daily routines of oral hygiene, that need to be upheld. Practicing healthy habits like these ones will...</p>
                    </div>
                </div>
            </div>
            <div class="cell-md-4 offset-top-50 offset-md-top-0">
                <div class="post post-variant-1">
                    <div>
                        <div class="post-media-wrap">
                            <a href="post-default.html"><img src="images/home-04-370x370.jpg" width="370" height="370" alt="" class="img-responsive post-image" /></a>
                        </div>
                        <h4 class="text-bold"><a href="post-default.html" class="post-title">Avoiding bad breath</a></h4>
                        <ul class="list-inline list-inline-dashed text-italic">
                            <li class="text-gray-lighter">
                                by <span class="text-bold text-gray-light">John Doe</span>
                            </li>
                            <li>
                                <time datetime="2016-04-30" class="post-meta-time text-gray-lighter">May 10, 2016</time>
                            </li>
                            <li><a href="categories-grid.html">Dental</a></li>
                        </ul>
                        <p>Bad breath is a deal breaker both in business and in personal life of ours. And while breath fresheners or candies hide it, they do not cure the very problem at hand… So, most importantly, the bad breath is caused by a lack of oral…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-top-35 text-center"><a href="categories-masonry.html" class="btn btn-primary">See all news</a></div>
    </div>
</section>